<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  

<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand ms-5">Cards Payment</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <!-- <li class="nav-item">
        <a href="/home" class="nav-link text-light ms-4" routerLink="home">Home </a>
      </li> -->
    </ul> 

   
      <li class="nav-item">
        <a routerLink="/register" class="nav-link text-light me-3">Register</a>
      </li>
    
      <li class="nav-item">
        <a routerLink="/login" class="nav-link text-light me-5">Login</a>
      </li>
    
      <li class="nav-item">
        <a routerLink="/coustomer" class="nav-link text-light me-5">Coustomer</a>
      </li>
      
   
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


</body>
</html>